  * {
    font-family: Arial;
    padding: 0;
    margin: 0;
  }

  h1 {
  	font-size: 16px;
  	margin-bottom: 20px;
  }

  body {
  	padding: 20px;
  }

  p {
  	font-size: 14px;
  	margin-bottom: 20px;
  }

#containerRegion {
    border: 1px solid green;
    padding: 10px;
}

#headerRegion {
    border: 2px solid green;
    padding: 10px;
}

#mainRegion {
    margin-top: 20px;
    border: 2px solid green;
    padding: 10px;
}

ul {
    border: 1px solid green;
    overflow: auto;
}

li {
    list-style: none;
    float: left;
    padding: 5px;
    border: 1px solid yellow;
}
/*
.rte-toolbar {
  position: absolute;
  width: auto;
  height: auto;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  z-index: 1;
}

.rte-toolbar button {
  width: 30px;
}

.rte-toolbar .tab {
  border: 1px solid #000;
  padding: 3px;
  display: inline-block;
  width: 40px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.rte-toolbar .tab_content {
  background: rgba(0, 0, 0, 0.8);
  color: #ccc;
  padding: 20px;
  width: 600px;
  height: 350px;
  font-family: "Proxima-Nova", sans-serif;
}

.rte-toolbar .tab_content h6 {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}

.rte-toolbar .tab2_content {
  display: none;
}

.rte-toolbar .tab3_content {
  display: none;
}

.rte-toolbar .tab1_font {
  float: left;
  width: 240px;
  padding: 0px;
  overflow: hidden;
}

.rte-toolbar .tab1_main {
  float: left;
  width: 300px;
  height: 200px;
  padding: 0 10px;
  margin-left: 20px;
}

.rte-toolbar .js_font_type_region {
  background-color: transparent;
  color: #ccc;
  width: 100%;
  height: 200px;
  padding: 0px;
}

.rte-toolbar .js_font_list_region {
  background-color: transparent;
  width: 100%;
  height: 200px;
  padding: 0px;
}

.rte-toolbar .js_font_wrapper {
  width: 200%;
  height: 250px;
  position: relative;
  overflow: hidden;
  background: transparent;
  font-family: inherit;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.rte-toolbar .show_font_panel {
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.rte-toolbar .font_wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.rte-toolbar .font-bottom {
  text-align: right;
}

.rte-toolbar .font-bottom .js_default,
.rte-toolbar .font-bottom .js_back {
  width: auto;
  background: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  text-transform: uppercase;
  color: #ffc107;
}

.rte-toolbar .font_panel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  font-family: inherit;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.rte-toolbar .font_panel.font_panel_2 {
  left: 50%;
}

.rte-toolbar .font_types li,
.rte-toolbar .font_names li {
  border-bottom: 1px solid #fff;
  padding: 12px 0;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.rte-toolbar .font_types li:hover,
.rte-toolbar .font_names li:hover {
  color: #ffc107;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.rte-toolbar .font_names li.selected {
    color: #ffc107;
}

.rte-toolbar .js_back {
  width: 100px !important;
}

.rte-toolbar .js_selCase {
  width: 50px;
}

.rte-toolbar .font_format_controls .font_format {
  font-family: "Open-Sans";
  font-size: 16px;
  margin-bottom: 5px;
  font-style: normal !important;
  letter-spacing: .5px;
  display: block;
}

.rte-toolbar .font_format_controls .font_format_button {
  background: #959da7;
  color: #fff;
  margin: 0 10px 0 0;
  border-radius: 2px;
  height: 35px;
  min-width: 45px;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.rte-toolbar .font_format_controls .font_format_button:hover {
  background: #ffc107;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.rte-toolbar .font_format_controls .font_format_button.selected {
  background: #ffc107;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.rte-toolbar .font_format_controls .font_format_button [class*="fa"] {
  font-size: 18px;
}

.rte-toolbar .font_typo .font_size,
.rte-toolbar .font_typo .font_color,
.rte-toolbar .font_typo .font_letter {
  display: inline-block;
  text-align: left;
}

.rte-toolbar .font_typo .font_size {
  width: 90px;
}

.rte-toolbar .font_typo .font_color {
  width: 55px;
  margin-left: 10px;
  -webkit-transform: translateY(-33px);
  -ms-transform: translateY(-33px);
  transform: translateY(-33px);
}

.rte-toolbar .font_typo .font_letter {
  width: 110px;
}

.rte-toolbar .font_typo span {
  color: #ccc;
  display: block;
  font-size: 16px;
  letter-spacing: .5px;
  padding-bottom: 5px;
  text-align: left;
  font-family: "Open-Sans", sans-serif;
  font-style: normal !important;
}

.rte-toolbar .font_typo .minicolors-theme-bootstrap .minicolors-input {
  display: none;
}

.rte-toolbar .font_typo .minicolors-theme-bootstrap.minicolors-focus .minicolors-input {
  border: none;
  box-shadow: none;
}

.rte-toolbar .font_typo .minicolors-theme-bootstrap .minicolors-swatch {
  top: 0;
  left: 0;
  width: 46px;
  height: 38px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.rte-toolbar .font_typo .minicolors-theme-bootstrap .minicolors-panel {
  height: 175px;
  width: 220px;
  background: rgba(0, 0, 0, 0.8);
  border: none;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

.rte-toolbar .font_typo .minicolors-theme-bootstrap .minicolors-slider,
.rte-toolbar .font_typo .minicolors-theme-bootstrap .minicolors-opacity-slider,
.rte-toolbar .font_typo .minicolors-theme-bootstrap .minicolors-grid {
  -webkit-transform: translate(12px, 10px);
  -ms-transform: translate(12px, 10px);
  transform: translate(12px, 10px);
}

.rte-toolbar .mo_spinner {
  border-radius: 2px;
  width: 100%;
  background: #959da7;
}

.rte-toolbar .mo_spinner > .mo_txt {
  border: none;
  width: 70px;
  color: #fff;
  padding: 10px;
  font-weight: 300;
}

.rte-toolbar .mo_spinner > .mo_arrow_wrapper .mo_arrow {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}
*/
