<!--
<span tab="1" class="tab tab1">tab 1</span>
<span tab="2" class="tab tab2">tab 2</span>
-->
<div class="tab_content tab1_content">
    <div class="tab1_font">
        <h6>Select Font Style</h6>
        <div class="js_font_wrapper">
            <div class="font_panel font_panel_1">
                <div class="js_font_type_region font_wrapper">
                    <ul>                        
                    </ul>
                </div>
                <div class="font-bottom">
                    <button class="js_default">reset</button>
                </div>
            </div>

            <div class="font_panel font_panel_2">
                <div class="js_font_list_region font_wrapper">
                    <ul></ul>
                </div>
                <div class="font-bottom">
                    <button class="js_back">back</button>
                </div>
            </div>
        </div>
    </div>
    <div class="tab1_main">
        <h6>Font Options</h6>     
        <!--<table>
        <tr><td colspan="4">Format</td></tr>
        <tr><td colspan="4"><button>B</button> <button>I</button> <button>U</button></td></tr>
        <tr><td colspan="4"><input type="text" class="js_color" value="#ff6161"></td></tr>
        <tr><td colspan="2">Font Size</td><td colspan="2">Letter Space</td></tr>
        <tr><td colspan="2"><div class="js_selSize"></div></td><td colspan="2"><div class="js_selSize"></div></td></tr>
        <tr><td colspan="2">Line Height</td><td colspan="2">Text Case</td></tr>
        <tr>
            <td colspan="2"><div class="js_selSize"></div></td>
            <td colspan="2">
                <select class="js_selTextCase">
                    <option value="none">none</option>
                    <option value="lowercase">Lower Case</option>
                    <option value="uppercase">Upper Case</option>
                </select>
            </td>
        </tr>
        </table>-->
 
        <div class="font_format_controls">
            <span class="font_format">Format</span>
            <button class="js_button js_bold font_format_button" type="b"><i class="fa fa-bold"></i></button>
            <button class="js_button js_italic font_format_button" type="i"><i class="fa fa-italic"></i></button>
            <button class="js_button js_underline font_format_button" type="u"><i class="fa fa-underline"></i></button>
        </div>
        <div class="font_typo margin-20">
            <div class="font_size">
                <span>Font Size</span>
                <div class="js_selSize"></div>
            </div>
            <div class="font_color">
                <span>Color</span>
                <input type="text" class="js_color" value="#ff6161">
            </div>
            <div class="font_letter">
                <span>Letter Space</span>
                <div class="js_selTextSpacing"></div>
            </div>
        </div>
        <div class="font_typo margin-20">
            <div class="line_height">
                <span>Line Height</span>
                <div class="js_selLineHeight"></div>
            </div>
            <div class="text_case">
                <span>Text Case</span>
                <select class="js_selTextCase">
                    <option value="none">none</option>
                    <option value="lowercase">Lower Case</option>
                    <option value="uppercase">Upper Case</option>
                </select>
            </div>           
        </div>
    </div>
</div>

<!--
<div class="tab_content tab2_content">
    tab 2
</div>
-->
